footer {
    text-align: center;
    margin: 0;
    padding: 0;

    p {
        font-size: 35px;
        font-family: 'Dancing Script', cursive;
        margin: 0;
    }

    #box {
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: 30px;
    }
}