h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  color: yellow;
  text-transform: uppercase;
}
.barre {
    width: 45%;
    height:7px;
    border-radius: 5px;
    background: linear-gradient(217deg, rgb(251, 0, 148), rgba(250, 5, 5, 0) 70.71%),            linear-gradient(127deg, rgb(255, 255, 0), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgb(0, 255, 0), rgba(0,0,255,0) 70.71%);
    background-size: 400% 400%;
    margin: auto;
    margin-top: 20px;
    animation: changeColor 2s ease-in-out infinite;
}

@keyframes changeColor {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}