@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  background-image: url(../../assets/background.jpg);
  background-position: fixed;
  background-size: 100%;
  color: #eee;
}

.container {
  width: 100%;
  margin: auto;
}

header,
main,
footer {
  padding: 1rem 1rem;
  margin: 0 auto;
}

p {
  line-height: 1.7;
  margin: 1.5rem 0;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  color: yellow;
  text-transform: uppercase;
}

.barre {
  width: 45%;
  height: 7px;
  border-radius: 5px;
  background: linear-gradient(217deg, rgb(251, 0, 148), rgba(250, 5, 5, 0) 70.71%), linear-gradient(127deg, rgb(255, 255, 0), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(0, 255, 0), rgba(0, 0, 255, 0) 70.71%);
  background-size: 400% 400%;
  margin: auto;
  margin-top: 20px;
  animation: changeColor 2s ease-in-out infinite;
}

@keyframes changeColor {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.welcome_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome_screen h2 {
  font-size: 25px;
  text-align: center;
  margin: 40px auto;
}
.welcome_screen h3 {
  width: 40%;
  margin: 20px auto 60px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.welcome_screen button {
  border: none;
  margin: auto;
  cursor: pointer;
}

.question_screen {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.question_screen h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.question_screen ul {
  display: flex;
  flex-direction: row;
}
.question_screen ul li {
  list-style: none;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.end_screen {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.end_screen h2 {
  font-size: 32px;
  color: yellow;
  text-align: center;
  margin-bottom: 20px;
}
.end_screen .house {
  font-size: 27px;
  text-align: center;
}
.end_screen .house span {
  font-size: 30px;
  color: red;
}
.end_screen button {
  width: 25%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
}

.shadow {
  position: relative;
  margin: 100px auto 0;
  width: 400px;
  height: 350px;
  background: linear-gradient(0deg, #000, #262626);
}

.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#animation_open {
  display: flex;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: open 10s linear;
  animation-delay: -1s;
  animation-fill-mode: forwards;
}
#animation_open #img_open {
  position: relative;
  width: 500px;
  margin: 20px auto;
  animation: openImg 7s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    width: 100%;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 0.95;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
@keyframes openImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
