@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  background-image: url(../../assets/background.jpg);
  background-position: fixed;
  background-size: 100%;
  color: #eee;
}

.container {
  width: 100%;
  margin: auto;
}

header,
main,
footer {
  padding: 1rem 1rem;
  margin: 0 auto;
}

p {
  line-height: 1.7;
  margin: 1.5rem 0;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  color: yellow;
  text-transform: uppercase;
}

.barre {
  width: 35%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(217deg, rgba(230, 250, 10, 0.8), rgba(250, 5, 5, 0) 70.71%), linear-gradient(127deg, rgba(241, 8, 8, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(249, 158, 13), rgba(0, 0, 255, 0) 70.71%);
  background-size: 400% 400%;
  margin: auto;
  margin-top: 20px;
  animation: changeColor 5s ease-in-out infinite;
}

@keyframes changeColor {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.welcome_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome_screen h2 {
  font-size: 25px;
  text-align: center;
  margin: 40px auto;
}
.welcome_screen h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
}
.welcome_screen button {
  width: 25%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
}

.question_screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.question_screen h2 {
  font-size: 25px;
  text-align: center;
}
.question_screen ul li {
  list-style: none;
}

.end_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end_screen h2 {
  font-size: 32px;
  color: yellow;
  text-align: center;
  margin-bottom: 20px;
}
.end_screen h3 {
  font-size: 25px;
  text-align: center;
}
.end_screen .house {
  font-size: 27px;
  text-align: center;
}
.end_screen .house span {
  font-size: 30px;
  color: red;
}
.end_screen button {
  width: 25%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px auto;
}

.shadow {
  position: relative;
  margin: 200px auto 0;
  width: 400px;
  height: 250px;
  background: linear-gradient(0deg, #000, #262626);
}

.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
