@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 15px;
  line-height: 12px;
  background-image: url(../../assets/background.jpg);
  background-position: fixed;
  background-size: 100%;
  color: #eee;
}

.container {
  width: 100%;
  margin: auto;
}

header,
main,
footer {
  padding: 1rem 1rem;
  margin: 0 auto;
}

p {
  line-height: 1.7;
  margin: 1.5rem 0;
}

#title {
  font-family: "Bad Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title h1 {
  display: flex;
  color: transparent;
  font-size: 65px;
}
#title h1 span {
  animation: animTitle 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animTitle {
  0% {
    color: #fff;
    filter: blur(2px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
  }
  30%, 70% {
    color: #fff;
    filter: blur(2px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
  }
  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(2px) hue-rotate(0deg);
  }
}
footer {
  text-align: center;
  margin: 0;
  padding: 0;
}
footer h2 {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 40px;
}
footer #box {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
}

.welcome_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome_screen h2 {
  font-family: "Dancing Script", cursive;
  color: yellow;
  font-size: 45px;
  text-align: center;
  margin: 40px auto;
}
.welcome_screen h3 {
  width: 40%;
  margin: 20px auto;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.welcome_screen button {
  border: none;
  margin: auto;
  cursor: pointer;
  background: transparent;
}
.welcome_screen button img {
  border-radius: 50%;
}

.question_screen {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.question_screen h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.question_screen ul {
  display: flex;
  flex-direction: row;
}
.question_screen ul li {
  list-style: none;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.end_screen {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.end_screen h2 {
  font-size: 32px;
  color: yellow;
  text-align: center;
  margin-bottom: 20px;
}
.end_screen .house {
  font-size: 27px;
  text-align: center;
}
.end_screen .house span {
  font-size: 30px;
  color: red;
}
.end_screen button {
  width: 25%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
}

.shadow {
  position: relative;
  margin: 100px auto 0;
  width: 400px;
  height: 350px;
  background: linear-gradient(0deg, #000, #262626);
}

.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#animation_open {
  display: flex;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: open 10s linear;
  animation-delay: -1s;
  animation-fill-mode: forwards;
}
#animation_open #img_open {
  position: relative;
  width: 500px;
  margin: 20px auto;
  animation: openImg 7s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    width: 100%;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 0.95;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
@keyframes openImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
