* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 15px;
  line-height: 12px;
  background-image: url(../../assets/background.jpg);
  background-position: fixed;
  background-size: 100%;
  color: #eee;
}

.container {
  width: 100%;
  margin: auto;
  
}
header,
main,
footer {
  padding: 1rem 1rem;
  margin: 0 auto;
}
p {
  line-height: 1.7;
  margin: 1.5rem 0;
}