.end_screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    
    h2 {
        font-size: 32px;
        color: yellow;
        text-align: center;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 25px;
        text-align: center;
    }
    .house {
        font-size: 27px;
        text-align: center;

        span {
            font-size: 30px;
            color: red;
        }
    }
    button {
        width: 25%;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 20px auto;
        cursor: pointer;
    }
}