.welcome_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: 'Dancing Script', cursive;
        color: yellow;
        font-size: 45px;
        text-align: center;
        margin: 40px auto;
    }
    h3 {
        width: 40%;
        margin: 20px auto;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
    }
    button {
        border: none;
        margin: auto;
        cursor: pointer;
        background: transparent;
        
        img {
            border-radius: 50%;
        }
    }
}